---
---

// Imports
@import "bootstrap";
@import "animate";
@import "drop-theme-arrows-bounce";
@import "skills";
@import "resume-layout";

.clear {
  clear:both;
}

.center-image {
  margin: 0 auto;
  display: block;
}


