---
---

// Imports
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import "header.scss";


body {
  background-color:#fdf6e3;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

.post-title a:link {
  color: #b58900;
}

.post-title a:visited {
  color: #b58900;
}

.post-title a:hover {
  color: #cb4b16;
}



.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

#post-list {
  list-style-type: none;
}

.footer {
	background-color: #073642;
	color: #93a1a1;
  border-top-width:0.1em;
  border-top-color:#9E9E9E;
  border-top-style:solid;
}






.clear {
  clear:both;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #073642;
}

.small {
	color: #b58900;
	padding-top:1.75em;
}