---
---

@import "bootstrap";
@import "syntax.css";
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

.site-header {
	border-bottom-width:0.1em;
	border-bottom-color:#9E9E9E;
	border-bottom-style:solid;
	box-shadow: 0px 2px 5px #888888;
	background-color:#fdf6e3;
}

.nav-top {
	list-style-type: none;
  margin: 0;
  padding: 0;
}

.navlink {
	display: inline-block;
  width:5em;
}

#post-list {
  list-style-type: none;
}

.footer {
	background-color: #073642;
	font-color: #93a1a1;
}

.fish-sh {
  font-family: 'Inconsolata', ;
  font-weight: 700;
}

.title {
  font-family: 'Inconsolata', ;
}

.clear {
  clear:both;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #073642;
}

.small {
	color: #b58900;
	padding-top:1.75em;
}