---
---

// Imports
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import "header";
@import "syntax";
@import "footer";
@import "posts";

// Formatting

body {
  background-color:#fdf6e3;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.clear {
  clear:both;
}

.center-image {
    margin: 0 auto;
    display: block;
}

.flex-container {
    flex-wrap: wrap;
}

.limitbox {
  max-height: 20em;
}