<header>

  <div class="container-fluid site-header">
    <div class="row">
      <div class="urlbox">
        <h1 class="fish-sh">:<a href="{{ site.baseurl }}/">jonathanpike.net</a> =></h1>
      </div>
      <div class="titlebox">
        <h1 class="title">{{ site.title }}</h1>
        <ul class="nav-top">
          <li class="navlink"><a href="#">About</a></li>
          <li class="navlink"><a href="#">Credits</a></li>
          <li class="navlink"><p class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p></li>
        </ul>
      </div>
    </div>
  </div>

</header>
