<header>

  <div class="animated fadeInDown namebox" id="box">
      <h1 class="namebox-title">Hi, I'm</h1>
      <h1 class="namebox-title"><a href="{{ site.baseurl }}/"><span id="name">Jonathan Pike</span></a> 👋</h1>
    <p class="namebox-subtitle">I'm a software developer in Mississauga, Ontario.</p>
    <hr />
    <ul class="navigation">
      <li class="navigation-item"><h4><a href="/about/">About</a><span class="gray-text"></h4></li>
      <li class="navigation-item"><h4><a href="/archive/">Archive</a><span class="gray-text"></h4></li>
      <li class="navigation-item"><h4><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></h4></li>
   </ul>
  </div>

</header>
