<header>

  <div class="container-fluid site-header">
    <div class="col-xs-12 center-block">
      <h1 class="title text-center">:<a href="{{ site.baseurl }}/">jonathanpike.net</a> <span class="rocket">=></span> {{ site.title }}</h1>
    </div>
    <div class="col-xs-12 center-block">
        <ul class="list-inline text-center navlinks">
          <li><h4>Navigation = </h4></li>
          <li><h4>[<a href="#">About</a>,</h4></li>
          <li><h4><a href="#">Credits</a>,<h4></li>
          <li><h4><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>]<h4></li>
        </ul>
    </div>
  </div>

</header>
