.namebox {
  margin-top: 20px;
  border-radius: 2px;
  border: 2px solid $pd-transparent-blue; 
}

.navigation {
  list-style: none;
  padding: 0px;
}

.title a:link {
  border-bottom: 0px;
}

.title a:visited {
  text-decoration: none;
}

