.namebox {
  @include grid-column(12);

  @include grid-media($large-neat-grid){
    @include grid-column(4);
  }

  margin-top: 20px;
  border-radius: 2px;
  border: 2px solid $pd-transparent-blue; 
  position: relative;
	padding: 0 15px;
}

.namebox-title {
  @media only screen and (max-width: 768px) {
    font-size: $font-size-h3;
    display: inline-block;
  }
}

.namebox-subtitle {
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.navigation {
  list-style: none;
  padding: 0px;
}

.navigation-item {
  @media only screen and (max-width: 768px) {
    display: inline-block;
    width: calc(90%/3);
    text-align: center;
  }
}

.title a:link {
  border-bottom: 0px;
}

.title a:visited {
  text-decoration: none;
}


