.post-title {
  color: #b58900;
}

.post-title a:link {
  color: #b58900;
}

.post-title a:visited {
  color: #b58900;
}

.post-title a:hover {
  color: #cb4b16;
}

.date {
  color: #93a1a1;
}

.post-content {
  color: #657b83;
  font-size: 1.2em;
}

#post-list {
  list-style-type: none;
}

.extrapad {
	padding-left: 55px;
}

.archive-list {
	list-style-type: none;
}

.post-divider {
	color: #DAE0E0;
	font-size: 25px;
	font-family: 'Inconsolata', ;
	padding-right: 40px;
}

.paginate {
  //padding-left: 40px;
  font-size: 25px;
	font-family: 'Inconsolata', ;
}

/* Small iPhone  */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .post-title {  
    font-size: 1.5em;
  }

  .post-content {
    font-size: .9em;
  }

  .panel-title {
    font-size: .9em;
  }

  .panel-body {
    font-size: .9em;
  }
}