.post-title {
  color: #b58900;
}

.post-title a:link {
  color: #b58900;
}

.post-title a:visited {
  color: #b58900;
}

.post-title a:hover {
  color: #cb4b16;
}

.date {
  color: #93a1a1;
}

#post-list {
  list-style-type: none;
}

.extrapad {
	padding-left: 55px;
}