.contentbox {
  @include grid-column(12);

  @include grid-media($large-neat-grid){
    @include grid-column(7);
  }

  margin-bottom: 20px;
  padding: 0px 30px 0px 30px;
  @media only screen and (max-width: 500px) {
    padding: 0px;
  }
}

#post-list {
  padding: 0px;
  list-style-type: none;
}

.post {
  margin: 0px 0px 60px 0px;
}

.meta {
  color: #777;
}

.link-arrow {
  @extend .meta;
}

.update { 
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: $pd-yellow; 
}

code {
  background-color: $pd-yellow;
  font-family: $pd-font-family-monospace;
}
