---
type: archive
layout: default
---
<div class="col-xs-9 center">
  <h1 class="post-title">Archive of {{ page.title }}</h1>
  <ul id="post-list">
    {% if page.month %}
      {% capture pagemonth %} {{ page.year | append: '-' | append: page.month }} {% endcapture %}
      {% for post in site.posts %}
        {% capture postmonth %} {{ post.date | date: '%Y-%m' }} {% endcapture %}
        {% if postmonth == pagemonth %}
      <li>
        <h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <p class="date">{{ post.date | date:"%B %d, %Y" }}</p>
        <article class="post-content">{{ post.excerpt | markdownify }} <a href="{{ post.url }}">Read More =></a></article>
      </li>
      <h1 class="post-divider text-center">#</h1>
      {% endif %}
    {% endfor %}
  {% endif %}
  </ul>
</div>
<br /><br />

