---
layout: default
---
<div class="col-xs-9 center">
	<h1 class="post-title">Archive of {{ page.date | date: "%B %Y" }}</h1>
  <ul id="post-list">
    {% for post in page.posts %}
      <li>
        <h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <p class="date">{{ post.date | date:"%B %d, %Y" }}</p>
        <article class="post-content">{{ post.excerpt | markdownify }} <a href="{{ post.url }}">Read More =></a></article>
      </li>
      <h1 class="post-divider text-center">#</h1>
    {% endfor %}
  </ul>
</div>
<br /><br />

