<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	
	  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
	  
	  <link rel="stylesheet" href="{{ "/css/resume.css" | prepend: site.baseurl }}">
	  <script src="{{ "/assets/js/main.min.js" | prepend: site.baseurl }}"></script>	  
	</head>


	<body>
		<div class="container">
			<div class="col-xs-12 col-md-4 animated fadeInDown namebox" id="box">
				<h1>Hi, I'm</h1>
				<h1><span id="name">Jonathan Pike</span> 👋</h1>
				<p>I'm a software developer in Mississauga, Ontario.</p>
				<p>📞: <a href="tel:647 401 3564">647 401 3564</a></p>
				<p>📧: <a href="mailto:jonathan.d.s.pike@gmail.com">jonathan.d.s.pike@gmail.com</a></p>
				<hr />
				<div class="text-center">
					<ul class="social">
						<li><a href="http://www.github.com/jonathanpike"><img src="{{ "/assets/GitHub_Logo.png" | prepend: site.baseurl }}" alt="GitHub"></a></li>
						<li><a href="https://ca.linkedin.com/in/pikejonathan"><img src="{{ "/assets/LinkedIn_Logo.png" | prepend: site.baseurl }}" alt="LinkedIn"></a></li>
					</ul>
				</div>
			</div>

			<div class="col-xs-12 col-md-8 contentbox">
				{{ content }}
			</div>

			<hr class="rule" />

			<footer>  
    			<div class="col-xs-12">
       				<p class="text-center">Have a great rest of your <span id="day">day</span>!</p>
    			</div>
			</footer>
		</div>
	</body>


</html>

